.profile {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto

}

/* resize images */
.profile img {
    width: 100%;
    height: auto;
    border: 5px solid black;
}
.details {
  float: left;
  width: 40%;
  border: 5px solid black;
  padding: 6px;
  margin: 10px;
}
.projects {
  float: right;
  width: 40%;
  border: 5px solid black;
  padding: 6px;
  margin: 10px;
}
h1 {
  text-align: center;
}
.background {
  float: left;
  width: 40%;
  border: 5px solid black;
  padding: 4px;
  margin: 5px;

}
.skills {
  float: right;
  width: 40%;
  border: 5px solid black;
  padding: 4px;
  margin: 5px;

}
