.profile {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto

}

/* resize images */
.profile img {
    width: 100%;
    height: auto;
    border: 5px solid black;
}
.details {
  float: left;
  width: 40%;
  border: 5px solid black;
  padding: 6px;
  margin: 10px;
  background-color: #052B78;
  color: grey;
}
.projects {
  float: right;
  width: 40%;
  border: 5px solid black;
  padding: 6px;
  margin: 10px;
  background-color: #052B78;
  color: grey;
  font-family: sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  font-style: italic;
  font-weight: bold;
}
.background {
  float: left;
  width: 40%;
  border: 5px solid black;
  padding: 4px;
  margin: 5px;
  font-family: sans-serif;

}
.skills {
  float: right;
  width: 40%;
  border: 5px solid black;
  padding: 4px;
  margin: 5px;

}
body {
  background-color: grey;
}
a {
  color: grey;
  font-style: italic;
  font-weight: bold;
}
